on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - name: Hello world action step
      id: hello
      uses: acrain/ga-docker-container-action@v2.8
      with:
        sonar-project-key: 'the keyy'
        sonar-host-url: 'other host url.com'
        sonar-login: 'mytooken'
    # Use the output from the `hello` step
    - name: Get the output time
      run: echo "The time returned by 'ga-docker-container-action' was ${{ steps.hello.outputs.time }}"
